body{
    background: #BDBDBD;
}

.first_heading {
    display: flex;
    justify-content: center;
    margin: 200px;
    max-width: 1200px;
    gap: 100px;
}
.heading_bold {
    text-decoration: solid;
}
.heading_grey {
    color: grey;
}
.text-first-heading {
    display: flex;
    flex-direction: column;
    width: 700px;
    

}

.img-walter {
    border-radius: 100%;
    height: 250px;
    weight: 250px;
    width: 300px;
    height: auto;
}


