<!-- your html code here -->
<h2>Contact</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique nostrum maxime unde harum aspernatur suscipit
    doloremque ipsa aut? Recusandae vel accusamus quasi dolor eos sit dolorum tenetur laboriosam illum consectetur.</p>
<div class="container card">
    <div class="row justify-content-center"></div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1"
            placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Your Message</label>
            <textarea class="d-block form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button type="button" class="d-grid gap-2 d-md-flex justify-content-md-end">Primary</button>
        </div>
    </div>
</div>

