<!-- your html code here -->
<div class="first_heading">
    <div class="text-first-heading">
        <h1> <span class="heading_bold">This First Heading</span><span class="heading_grey"> Will Catch Your Eye</span></h1>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
            euismod semper. Praesent commodo cursus magna, vel scelerisque nisl
            consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div><img src="assets/img/1.jpg" class="img-walter" alt="walter_white"></div>
</div>

