<!-- your html code here -->
<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h4>Portafolio</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non euismod eros. Cras lacus turpis, fringilla nec ipsum et, tempor hendrerit augue. Nunc eget lectus luctus nulla lacinia eleifend. Proin non scelerisque ante.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla faucibus pulvinar finibus.</p>



        </div>
    </div>
    <div class="row g-4">
        <div class="col-lg-4">
            <div class="card rounded-4">
                <img src="https://picsum.photos/200" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project-Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card’s content.</p>
                  
                </div>
            </div>
        </div>


         <div class="col-lg-4 ">
            <div class="card rounded-4">
                <img src="https://picsum.photos/200" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project-Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card’s content.</p>
                    
                </div>
            </div>
        </div>



         <div class="col-lg-4" >
            <div class="card rounded-4">
                <img src="https://picsum.photos/200" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project-Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card’s content.</p>
                    
                </div>
            </div>
        </div>



        


    </div>





</div>