<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="service">
        <img src="assets/img/2.jpg" alt="" class="encabezado" />
        <div class="service-body">
            <h3>The Second Heding is pretty cool.</h3>
            <p class="parrafo-service">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de
                texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un
                impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los
                mezcló de tal manera q</p>
        </div>
    </div>
</body>

</html>
